<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.mapper.UserMapper">


    <select id="selectUser" resultType="com.chinasoft.pojo.User">
        select * from `user` where Uid=#{id}
    </select>


    <insert id="insertUser" useGeneratedKeys="true" keyProperty="uid" keyColumn="Uid">
        insert into `user`(uname, `user`, password, image, state) values (#{uname}, #{user}, #{password},#{image}, #{state})
    </insert>

</mapper>